* {
  cursor: default;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

:root {
  --transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 0px;
}

::selection {
  background: var(--red);
}
::-moz-selection {
  background: var(--red);
}

body {
  height: auto;
  color: var(--blue);
  background-color: var(--light-red);

  position: relative;
}

body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../assets/images/noise.gif);
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em;
  padding: 2em 4em;
  margin: 0 auto;
}

#background video {
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
}

#background .color-mask {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(9, 0, 110, 0.95);
  z-index: -100;
}

.cursor {
  position: fixed;
  background-color: white;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 1;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) height,
    0.3s cubic-bezier(0.75, -0.27, 0.3, 1.33) width;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
  transform: translate(-55%, -60%);
  will-change: transform;
}

/*
.cursor::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  background-color: var(--blue);
  opacity: 0.33;
}*/

.cursor.active {
}

.cursor-follower {
  position: fixed;
  background-color: rgba(44, 49, 248, 0.1);

  width: 90px;
  height: 90px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.6s cubic-bezier(0.75, -0.27, 0.3, 1.33) border;
  border: 0px;
  user-select: none;
  pointer-events: none;
  transform: translate(-38%, -38%);
  z-index: 10000;
  will-change: transform;
}

.cursor-follower.active {
  /*transform: scale(1);*/
}

p:hover {
  mix-blend-mode: difference;
}

a {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

u {
  text-decoration: none;

  background-image: linear-gradient(
    to right,
    var(--green) 100%,
    transparent 100%
  );
  background-position: 0 0.25em;
  background-repeat: repeat-x;
  background-size: 0.1em 0.5em;
}

span.u::before {
}

a:after,
a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: var(--red);
  transition: 0.5s;
}
a:hover:after,
a:visited:hover:after {
  width: 100%;
}

.container {
}

a.arrow-btn {
  transition: 0.5s;
}

a.arrow-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-right: 25px;
}

a.arrow-btn span:after {
  font-family: 'icomoon' !important;
  content: '\e906';
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0px;
  transition: 0.5s;
}

a.arrow-btn:hover span:after {
  font-family: 'icomoon' !important;
  content: '\e905';
  opacity: 1;
  right: 0;
}

.card {
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  transition: all 250ms ease-in-out;
  position: relative;
}

.card:hover {
  transition: all 250ms ease-in-out;
}

.card:hover::before {
  width: 0.4rem;
  top: 0.4rem;
  transition: all 250ms ease-in-out;
  background-color: var(--blue);
}

.card:hover::after {
  height: 0.4rem;
  left: 0.4rem;
  transition: all 250ms ease-in-out;
  background-color: var(--blue);
}

.card::before {
  content: '';
  width: 0.5rem;
  height: 100%;
  background-color: transparent;
  border-top: 1px solid #5b56eb;
  border-right: 1px solid #5b56eb;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  position: absolute;
  top: 0.5rem;
  left: 100%;
  z-index: -1;
  transition: all 250ms ease-in-out;
  background-color: #5b56eb;
}

.card::after {
  content: '';
  width: 100%;
  height: 0.5rem;
  border-left: 1px solid #5b56eb;
  border-bottom: 1px solid #5b56eb;
  position: absolute;
  left: 0.5rem;
  top: 100%;
  z-index: -1;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: all 250ms ease-in-out;
  background-color: #5b56eb;
}
