@media screen and (min-width: 1280px) {
  html,
  * {
  }

  body {
  }

  .container {
    max-width: 1280px;
    padding: 4em;
  }

  .cursor,
  .cursor-follower {
    display: block;
  }


  #header {
    height: 4rem;
    padding: 0 1rem;
    left: 0;
    width: calc(1280px - 128px);
    margin-top: 4rem;
    border-bottom: 1px double var(--blue);
}


  }

  /* #top-nav */
  #header a.about {
  }

  #header.container {
    /*
    padding: 0 0.5rem;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;*/
  }

  #header a.home {
    grid-column: span 7;
  }

  #header nav {
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
  }

  #header a.projects {
  }

  /* header */

  #intro {
    height: calc(100vh);

    padding: 4rem 4rem;
    margin-top: -4rem;
    max-height: 1000px;
  }

  #intro header {
    grid-column: 2 / span 5;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  #intro .right {
    justify-content: flex-start;
    background-repeat: space;
    grid-column: span 5;
    position: relative;

  }

  #intro::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-bottom: 960px solid var(--light-red-2);
    border-left: 300px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 960px;
    transform: rotate(-50deg);

  }

  #intro .right::after {
    
    content: '';
    position: absolute;
    left: -75%;
    bottom: -350px;
    background: radial-gradient(var(--blue), 1px, transparent 0);
    background-size: 1rem 1rem;
    background-repeat: space;
    width: 100%;
    height: 450px;
  }



  #intro h2 {
    font-size: 5rem;
  }

  #intro h1 {
    font-size: 9rem;
    position: relative;
    margin-left: -0.25em;
    margin-top: -0.25em;
    opacity: .8;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'DINCondensed';
    text-transform: uppercase;

  }



  #intro .left {
    grid-column: span 7;
  }

  #intro section {
    grid-column: span 5;
    margin-top: 4rem;
    align-items: flex-end;
  }

  #intro section .card {
    padding: 2rem 1rem;
  }

  .card:hover::before,
  .card:hover::after {
    background-color: var(--light-blue);
  }

  .card:hover::before {
    width: 0.5rem;
    top: 0.5rem;
  }

  .card:hover::after {
    height: 0.5rem;
    left: 0.5rem;
  }

  .header-headline {
    font-size: 14rem;

    margin-bottom: 0;
    position: relative;
    display: block;
    width: 100%;
  }

  #intro .header-headline::before {
    height: calc(100% + 1rem);
    width: calc(100% - 0.425em);
    right: 0.5em;
  }

  .header-subline-title,
  .header-subline-work {
    font-size: 4.5rem;
  }

  #intro h1 {
    /*
    -webkit-text-stroke: 4px var(--green);
    text-stroke: 4px var(--green);*/
  }

  #intro hr {
    width: 200px;
  }

  #intro .intro-hire-btn {
    float: right;
  }

  /* about */

  #about {
    max-width: 1120px;
  }

  #about .container {
  }

  #about header {
    grid-column: 1 / span 12;
  }

  #about section {
    grid-column: span 4;
  }

  #about .contents .text {
  }

  #about .about-headline {
    margin: 0 auto;
    padding-bottom: 0rem;
    margin-bottom: -100px;
  }

  #about .about-dot-bg {
    background-size: 40px 40px;
    padding: 2.5rem 1rem;
  }

  #about .content {
    max-width: 1040px;
  }

  #about h2 {
    font-size: 5vw;
  }

  #about .contents .img {
    width: 33%;
    max-width: 250px;
  }

  #about .what-i-do {
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 1rem;
  }

  #about .objectives {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4%;
  }

  #about .objective {
    max-width: none;
  }

  #about #objective-ui {
    margin-top: 5vh;
  }

  #about #objective-frontend {
    margin-top: 10vh;
  }

  #about .contents .who-i-am {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  #about hr {
    display: block;
    margin: 0;
  }

  /* projects */

  #projects header {
    grid-column: 1 / span 12;
  }

  #projects section {
  }

  #projects .projects-headline {
    padding-bottom: 0;
    margin-bottom: -60px;
  }

  #projects .projects-subline {
  }

  #projects section:nth-of-type(even) {
    justify-self: flex-end;
  }

  #projects section:first-of-type {
    margin-top: 0rem;
  }

  #projects .project-headline {
  }

  #projects ul.tags li {
    display: inline-block;
  }

  #projects ul.links {
  }

  #projects ul.links li {
    display: block;
    margin-top: 0.5rem;
  }

  #projects .screenshot {
    margin-bottom: 0rem;
    width: 100%;
    z-index: 1;
    margin: auto 0;
    margin-top: 1rem;
  }

  #projects .screenshot img {
    width: 100%;
    height: auto;
  }

  #projects .project-scope {
    grid-column: span 3;
  }

  #projects .project-description {
    grid-column: span 9;
  }

  /* contact */

  #contact .container {
    width: 100%;
  }

  #contact .contact-headline {
    font-size: min(25vw, 115px);
    grid-column: span 12;
  }

  #contact .content {
    margin: 0 auto;
    max-width: 1040px;
  }

  #contact h2 {
  }

  #contact h3 {
  }

  #contact hr {
    max-width: 75px;
    height: 3px;
    margin: 2rem 0rem 4rem 0;
    margin-left: 0px;
    background-color: var(--green);
    border: 0px;
  }

  #contact p {
    grid-column: span 12;
    max-width: 360px;
  }
}
