@media screen and (min-width: 1280px) {
  html,
  * {
  }
  .cursor,
  .cursor-follower {
    display: block;
  }

  .partial-border::before {
    width: 0.75rem;
    top: 0.75rem;
  }

  .partial-border::after {
    height: 0.75rem;
    left: 0.75rem;
  }

  /* nav */
  nav a.about {
    margin-right: 3rem;
  }

  nav .container {
    padding: 0 0.5rem;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
  }

  nav a.projects {
    margin-right: 3rem;
  }

  /* header */

  header {
    padding: 0;
  }

  header .container {
  }

  header .contents {
    max-width: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 1040px;
    column-gap: 1rem;
    height: calc(100vh - 75px);
    margin-top: 75px;
  }

  header .right {
    align-self: unset;
    text-align: left;
    margin-right: 0rem;
    margin-top: 5vh;
  }

  .partial-border:hover::before,
  .partial-border:hover::after {
    background-color: var(--light-blue);
  }

  .partial-border:hover::before {
    width: 0.5rem;
    top: 0.5rem;
  }

  .partial-border:hover::after {
    height: 0.5rem;
    left: 0.5rem;
  }

  .header-headline {
    font-size: min(15vw, 216px);
    width: 50%;
    align-self: center;
    margin-bottom: 0;
    margin-top: -5vw;
    position: relative;
  }

  header .header-headline::before {
    height: calc(100% + 1rem);
    width: calc(100% - 0.425em);
    right: 0.5em;
  }

  .header-subline-title,
  .header-subline-work {
    font-size: min(5vw, 72px);
  }

  header h1 {
    /*
    -webkit-text-stroke: 4px var(--green);
    text-stroke: 4px var(--green);*/
  }

  header hr {
    width: 200px;
  }

  header a {
    align-self: flex-end;
    width: fit-content;
  }

  header div {
  }

  header h2 {
  }

  header h2 span {
  }

  header h3 {
  }

  /* about */

  #about .container {
  }

  #about .contents .text {
  }

  #about .about-headline {
    margin: 0 auto;
    padding-bottom: 0rem;
    margin-bottom: -80px;
  }

  #about .about-dot-bg {
    background-size: 40px 40px;
    padding: 2.5rem 1rem;
  }

  #about .content {
    max-width: 1040px;
  }

  #about h2 {
    font-size: 5vw;
  }

  #about .contents .img {
    width: 33%;
    max-width: 250px;
  }

  #about .what-i-do {
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 1rem;
  }

  #about .objectives {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4%;
  }

  #about .objective {
    max-width: none;
  }

  #about #objective-ui {
    margin-top: 5vh;
  }

  #about #objective-frontend {
    margin-top: 10vh;
  }

  #about .contents .who-i-am {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  #about hr {
    display: block;
    margin: 1rem 0 2rem 0;
  }

  /* projects */

  #projects .content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  #projects header.projects-header {
    max-width: 1040px;
    margin: 0 auto;
  }

  #projects .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 6rem;
    margin-top: 6rem;
  }

  #projects .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    height: fit-content;
    height: -moz-fit-content;
  }

  #projects .projects-headline {
    padding-bottom: 0;
    margin-bottom: -60px;
  }

  #projects .projects-subline {
  }

  #projects .project:nth-of-type(even) {
    justify-self: flex-end;
  }

  #projects .project:first-of-type {
    margin-top: 0rem;
  }

  #projects .screenshot {
    margin-bottom: 0rem;
    width: 100%;
    z-index: 1;
    margin: auto 0;
  }

  #projects .screenshot img {
    width: 100%;
    height: auto;
  }

  #projects .project-scope {
    width: 40%;
    padding: 1rem;
  }

  #projects .project-description {
    width: 60%;
    padding: 1rem;
  }

  #projects .project:nth-child(even) .screenshot {
  }

  #projects .project:nth-child(even) .description {
  }

  /* contact */

  #contact .container {
    width: 100%;
  }

  #contact .contact-headline {
    font-size: min(25vw, 115px);
  }

  #contact .content {
    margin: 0 auto;
    max-width: 1040px;
  }

  #contact h2 {
  }

  #contact h3 {
  }

  #contact hr {
    max-width: 75px;
    height: 3px;
    margin: 2rem 0rem 4rem 0;
    margin-left: 0px;
    background-color: var(--green);
    border: 0px;
  }

  #contact p {
    max-width: 480px;
  }
}
