/* responsive typography */
@font-face {
  font-family: 'DINCondensed';
  src: local('DINCondensed-Regular'),
    url(../assets/fonts/DINCondensed-Regular.otf) format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'DINCondensed';
  src: local('DINCondensed-Bold'),
    url(../assets/fonts/DINCondensed-Bold.otf) format('opentype');
  font-weight: 700;
}

html {
  font-size: calc(16px + (18 - 16) * (100vw - 256px) / (1280 - 256));
  font-size: 16px;
}
:root {
}

body,
p {
  line-height: 1.65;

  font-family: 'Roboto Condensed', sans-serif;

  font-weight: 100;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.2;
  font-weight: 900;
}

h1 {
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

a {
  color: var(--blue);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
