@import 'colors.css';
@import 'fonts.css';

/******************************************
Styles for my personal site, alexjfryer.com
******************************************/

/*
Page style
*/

body {
  font-family: var(--sans-serif);
  font-weight: 300;
  height: auto;
  color: var(--light-red);
  /*font-size: calc(14px + (26 - 14) * (100vw - 300px) / (1600 - 320));*/
  background: linear-gradient(
    to right,
    var(--dark-blue),
    var(--dark-blue) 2px,
    var(--blue) 2px,
    var(--blue)
  );
  background-size: 20% 100%;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 900px;
}

.container-fluid {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
  font-family: var(--serif);
}

a {
  color: var(--red);
}

/*
nav style
*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  display: flex;
  height: 100px;
  background-color: transparent;
  z-index: 2;
  transition: background-color 300ms linear;
  transition: height 300ms linear;
}

nav .container {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--red);
  opacity: 1;
  letter-spacing: 0.5px;
}

nav a:hover {
  opacity: 1;
}

nav a:before {
  content: '';
  display: inline-block;
  background: var(--red);
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

nav a.home {
  background-color: transparent;
  color: var(--red);
  padding: 0.1rem 0.25rem;
  border: 1px solid var(--red);
  font-weight: 700;
}

nav a.home:before {
  background: transparent;
  width: 0;
  margin-right: 0;
  height: 0;
  display: none;
}

nav a.about:before {
  content: '';
  display: inline-block;
  background: var(--red);
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

nav a.about {
  margin-right: 1rem;
}

nav a.projects {
  margin-right: 1rem;
}

nav a.projects:before {
  border-radius: 50%;
}

nav a.contact:before {
  content: '';
  display: inline-block;
  background: transparent;
  width: 0rem;
  height: 0rem;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.75rem solid var(--red);
  margin-right: 0.5rem;
}

nav.scrolled {
  background-image: linear-gradient(
    to right,
    var(--blue),
    var(--blue) 2px,
    var(--blue) 2px,
    var(--blue)
  );
  transition: background-color 300ms linear;
  transition: height 300ms linear;
  height: 75px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav.scrolled a {
}

nav.scrolled a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 420px) {
}
@media screen and (min-width: 1280px) {
  nav a.about {
    margin-right: 3rem;
  }

  nav a.projects {
    margin-right: 3rem;
  }
}

/*
Header style
*/

header {
  background-color: var(--light-gray);
  position: relative;
  z-index: 1;
  background: transparent;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

header .container {
  margin-top: 75px;
  height: calc(80vh - 100px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  text-align: left;
  max-width: 100%;

  background-image: url('../img/header-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

header .container-fluid {
  padding: 0;
}

header .me {
  width: 15%;
  height: 100%;
}

header h1 {
  z-index: 1;
  font-size: 6rem;
  font-weight: 900;
  /*text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);*/
  color: var(--blue);
  -webkit-text-stroke: 3px var(--green);
  text-stroke: 3px var(--green);
}

header hr {
  width: 130px;
  border: 0;
  margin: 1.75rem auto 2rem auto;
  height: 10px;

  z-index: 1;
  background: repeating-linear-gradient(
    -69deg,
    transparent,
    transparent 10px,
    var(--white) 10px,
    var(--white) 12px
  );
}

header h2 {
  font-weight: 900;
  color: var(--green);
  z-index: 1;
  /*text-shadow: 3px 2px 0px rgba(0, 0, 0, 1);*/
}

@media screen and (min-width: 420px) {
  header .container {
    height: calc(75vh);
  }

  header .dot-bg {
    width: 420px;
  }
}
@media screen and (min-width: 1280px) {
  header h1 {
    font-size: 10rem;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 0px;
  }

  header hr {
    width: 200px;
  }

  header h2 {
    font-size: 3.5rem;
    line-height: 1.15;
    font-weight: 500;
  }
}
@media screen and (min-width: 1440px) {
  header h1 {
  }

  header h2 {
    max-width: 1500px;
  }
}

/*
about section style
*/

#about {
  padding-top: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background: white;
  /*
  background: linear-gradient(360deg, var(--primary) 37%, transparent 20%),
    radial-gradient(var(--primary) 2px, transparent 2px),
    radial-gradient(var(--primary) 2px, transparent 2px), transparent;
  background-size: 100%, 48px 48px, 48px 48px, 100%;
  background-position: 0 0, -4px 12px, 20px 36px, 0 0;*/

  background-image: linear-gradient(
    to right,
    var(--dark-blue),
    var(--dark-blue) 2px,
    var(--blue) 2px,
    var(--blue)
  );

  background-size: 20% 100%;
}

#about .about-dot-bg {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--red), 3px, transparent 0);
  background-size: 40px 40px;
  background-position: -12px -9px;
  padding: 3rem 0 3rem 0;
}

#about .container {
  max-width: 800px;
  padding: 4rem;
  background-color: var(--blue);
  /*
  */
  border-radius: 10px;
  /*
  box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.1);*/
  color: #fde1de;
}

#about h2 {
  margin: 0 0 2rem 0;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 3rem;
  color: var(--green);
}

#about h3 {
  margin: 0 0 0 0;
  font-family: var(--serif);
  line-height: 2rem;
}

#about h3.contact-cta-1 > a {
  color: var(--primary);
}

#about h4 {
  margin-top: 0px;
  margin-bottom: 0.25rem;
  color: var(--green);

  text-transform: capitalize;
  font-family: var(--sans-serif);
  font-weight: 400;
}

#about hr {
  max-width: 75px;
  height: 3px;
  margin: 2rem 0 1rem 0;
  margin-left: 0px;
  background-color: var(--green);
  border: 0px;
}

#about .services {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

#about .services ul {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0px;
}

#about .services ul li {
  line-height: 1.75rem;
  font-weight: 300;
}

/*
Projects
*/
#projects {
  background-color: transparent;

  padding: 3rem 0;
}

#projects .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1300px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 0;
  position: relative;
}

#projects h2 {
  margin: 0 0 4rem 0;
  text-transform: lowercase;
  font-family: var(--sans-serif);
  font-weight: 500;
  font-size: 3rem;
  position: relative;
  z-index: 2;
  color: var(--green);
}

#projects hr {
  height: 1px;
  border: none;
  margin: 3rem 0 3rem 0;
}

#projects ul {
  margin: 0 0 0 0;
  margin: 0;
  list-style-type: '★';
  display: inline;
  padding: 0;
}

#projects ul li {
  margin: 0 0 0 0;
  font-weight: 400;
  line-height: 22px;
  display: inline;
}

#projects h3 {
  margin-top: 0px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--sans-serif);
  color: var(--green);
}

#projects h4 {
  color: var(--green);
  font-weight: 400;
}

#projects .project {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

#projects .description {
  margin-bottom: 1rem;
  position: relative;
  padding: 2rem;
  background-color: var(--blue);
}

#projects #project1 {
  background-image: url('../img/project1-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#projects #project2 {
  background-image: url('../img/project2-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#projects #project3 {
  background-image: url('../img/project3-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#projects .screenshot {
  margin-bottom: 2rem;
  width: 100%;
  height: 150px;
  /*
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.15);*/
  padding: 1rem 1rem;
  border-radius: 3px;

  background-color: var(--white);
}

@media only screen and (min-width: 900px) {
  #projects .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #projects .screenshot {
    margin-bottom: 0rem;
    width: 80%;

    z-index: 1;
    margin-top: 50px;
    height: 100%;
  }

  #projects .screenshot img {
    width: 100%;
    height: auto;
  }

  #projects .description {
    border-radius: 0px;
    border: 2px solid var(--red);
    width: 100%;
    margin-left: -10px;
    z-index: 0;
  }
}

/*
contact section style
*/

#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: transparent;
}

#contact .container {
  border: 2px solid var(--red);
  padding: 2rem;
  position: relative;
  background-color: transparent;
}

#contact .content::after {
  content: '';
  background: #1f2c8d none repeat scroll 0% 0%;
  height: 100%;
  left: 1rem;
  top: 1rem;
  border-radius: 3px;
  width: calc(100%);
  position: absolute;
  z-index: -1;
}

#contact h2 {
  margin: 0 0 1rem 0;
}

#contact article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 150px;
}

#contact h3 {
  font-family: var(--serif);
  line-height: 2rem;
  font-size: 1.5rem;
  margin: 0 0 0 0;
  font-weight: 400;
  margin: 0 0 2rem 0;
  color: var(--light-red);
}

#contact h3 span {
  color: var(--green);
}

#contact ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  height: 100%;
  margin: 0 0 2rem 0;
  padding-left: 0px;
  text-align: center;
}

#contact ul li {
  margin: 1rem 0 0 0;
  padding-left: 0px;
}

#contact ul li a {
}

#contact ul li i {
  margin-right: 1rem;
  color: var(--light-red);
}

/*
footer style
*/
