.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  padding: 4em 1em;
  margin: 0 auto;
}

/*
Header
*/
#header {
  grid-column: span 12;
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100%);
  margin: 10rem auto 0 auto;
  z-index: 999;
  background-color: transparent;
  transition: var(--transition);
  display: flex;
  align-items: center;
  transition-duration: 300ms;
  height: 50px;
  padding: 1em 2em;
  border-top: 1px solid var(--blue);
  border-bottom: 1px double var(--blue);
  border-bottom-style: double;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/*
#header::before {
  content: '';
  width: 0.5rem;
  height: calc(100% + 0.5rem);
  background-color: transparent;
  border-right: 1px solid var(--blue);
  border-bottom-right-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  transition: all 250ms ease-in-out;
}

#header::after {
  content: '';
  width: 100%;
  height: 0.5rem;
  background-color: var(--blue);
  border-left: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  position: absolute;
  background-color: transparent;
  left: 0.5rem;
  top: 100%;
  z-index: -1;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: all 250ms ease-in-out;
}*/

#header nav {
  display: flex;
  justify-content: space-evenly;
}

#header.scrolled {
  transition: var(--transition);
  transition-duration: 300ms;
  height: 50px;
  background-color: var(--light-red);
}

#header.scrolled::before {
  background-color: var(--blue);
}

#header.scrolled::after {
  background-color: var(--blue);
}

/*
#header.scrolled::before {
  content: '';
  background-color: var(--blue);
  opacity: 1;
  position: absolute;
  left: calc(-50vw + 50%);
  transition: var(--transition);
  transition-duration: 300ms;
  top: 0%;
  width: 100vw;
  height: 100%;
}*/

#header a {
  font-size: 1rem;
  transition: var(--transition);
  position: relative;
  margin-left: 10rem;
}

#header a.home {
  background-color: transparent;
  padding: 0.35rem 0rem 0.3rem 0;
  writing-mode: vertical-lr;
  margin-right: auto;
  margin-left: 0;
  position: relative;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: bold;
}

#header a.home::before,
#header a.home::after {
  background-color: transparent;
}
/*
#header a.home::before {
  position: absolute;
  content: '';
  border-right: calc(1rem / 10) solid var(--blue);
  border-top: calc(1rem / 10) solid var(--blue);
  border-top-right-radius: calc(var(--border-radius) / 2);
  border-bottom-right-radius: calc(var(--border-radius) / 2);
  width: 0.5em;
  height: 100%;
  right: 0;
  top: 0;
  transition: var(--transition);
}
#header a.home::after {
  content: '';
  position: absolute;
  border-left: calc(1rem / 10) solid var(--blue);
  border-bottom: calc(1rem / 10) solid var(--blue);
  border-bottom-left-radius: calc(var(--border-radius) / 2);
  border-bottom-right-radius: calc(var(--border-radius) / 2);
  height: 0.5em;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: var(--transition);
}*/
/*
#header a.home:hover::before {
  position: absolute;
  content: '';
  border-right: calc(1rem / 10) solid var(--blue);
  border-top: calc(1rem / 10) solid var(--blue);
  border-top-right-radius: calc(var(--border-radius) / 2);
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transition: var(--transition);
}

#header a.home:hover::after {
  content: '';
  position: absolute;
  border-left: calc(1rem / 10) solid var(--blue);
  border-bottom: calc(1rem / 10) solid var(--blue);
  border-bottom-left-radius: calc(var(--border-radius) / 2);
  border-bottom-right-radius: calc(var(--border-radius) / 2);
  border-radius: calc(var(--border-radius) / 2);
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: var(--transition);
}*/

#header a.home:hover {
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  transition: var(--transition);
}

/*
Intro
*/
#intro {
  height: calc(100vh - 50px);
  padding: 50px 1em 2em 1em;
}

#intro .left {
  grid-column: span 12;
  display: flex;
  align-items: flex-end;
}

#intro .right {
  grid-column: span 12;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#intro .card {
  width: max-content;
  padding: 1rem 1rem;
}

#intro .card:hover::before,
.card:hover::after {
  background-color: var(--blue);
}

#intro .card:hover::before {
  width: 0.5rem;
  top: 0.5rem;
}

#intro .card:hover::after {
  height: 0.5rem;
  left: 0.5rem;
}

#intro h1 {
  font-weight: 900;
  writing-mode: vertical-rl;
  color: var(--blue);

  -webkit-text-stroke: 0px var(--blue);
  text-stroke: 0px var(--blue);
  /*text-shadow: 4px 4px 0px rgba(44, 49, 248, 1);*/
  letter-spacing: normal;

  margin-left: -0.5rem;
  text-transform: capitalize;
  font-family: 'DINCondensed';
  font-size: 25vw;
  z-index: 5;
  line-height: 0.9;
  position: relative;
  font-size: min(25vw, 115px);
  margin: 0;
  margin-top: 0rem;
}

#intro h1 span {
  font-size: 1rem;
  margin-left: 0;
  line-height: 1;
  position: absolute;
  top: 0.7rem;
  left: 17rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
}

/*
#intro h1::before {
  content: '';
  height: calc(90%);
  top: 5%;
  width: calc(100% - 0.25em);
  left: -0.25rem;
  background-color: transparent;
  position: absolute;
  background: radial-gradient(var(--light-blue), 2px, transparent 0);
  background-size: 1rem 1rem;
  background-repeat: space;
  z-index: -1;
}*/

#intro h2 {
  color: transparent;
  z-index: 1;
  text-transform: none;
  margin: 0px 0 0 0;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  -webkit-text-stroke: 1px var(--blue);
  text-stroke: 1px var(--blue);
  letter-spacing: 1px;
  font-size: min(10vw, 48px);
  margin-bottom: 1rem;
  margin: 0;
  margin-top: auto;
}

#intro h2 span {
}

#intro a {
  margin-top: auto;
  margin-bottom: 2rem;
  border-radius: 72% 28% 25% 75% / 71% 49% 51% 29%;
  background-color: #ddffef;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro a::before {
  border-radius: 30% 70% 70% 30% / 32% 30% 70% 68%;
  content: '';
  position: absolute;
  background-color: #e6e1fc;
  height: 100px;
  width: 125px;
  left: 05%;
  top: --10%;
  z-index: -1;
}

/*
about section style
*/

#about {
  position: relative;
}

#about::after {
  height: 0;
  width: 120%;
  padding: 0px;
  border-radius: 0px;
  z-index: -100;
  left: -10%;
  bottom: -320px;
  transform: rotate(-10deg) skew(-5deg);
  -webkit-transform: rotate(-deg) skew(-20deg);
  border-top: 640px solid var(--light-red-2);
  border-left: 64px solid transparent;
  border-right: 128px solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  content: '';
}

#about header {
  grid-column: span 12;
}

#about h3 {
  font-size: min(20vw, 100px);
  -webkit-text-stroke: 0.75px var(--blue);
  text-stroke: 0.75px var(--blue);
  color: transparent;
  position: relative;
  text-align: right;
  padding-bottom: 1rem;
  line-height: 1;
  color: var(--light-red);
  font-weight: 700;

  max-width: 640px;
}

/*
#about h3::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 5%;
  top: 0.5em;
  width: 90%;
  background: radial-gradient(var(--light-blue), 2px, transparent 0);
  background-size: 1rem 1rem;
  background-repeat: space;
  z-index: -2;
  transform: rotate(2deg);
}*/

#about .about-intro {
  position: relative;
}

#about sup {
  margin: 0 0 0 0;
  text-transform: capitalize;
  color: var(--blue);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1;
  display: inline;
  vertical-align: bottom;
}

#about hr {
  max-width: 75px;
  height: 2px;
  background-color: var(--blue);
  border: 0px;
  margin: 0px;
  margin-bottom: 0px;
}

#about header p {
  color: var(--blue);
  font-weight: 100;
  font-size: 1.25rem;
  text-align: left;
  text-indent: 0rem;
  font-family: Merriweather;
  margin: 0.75rem 0 1rem 0;
  font-size: min(5vw, 23px);
  max-width: max-content;
  background-color: var(--light-red);
}

#about .headshot-wrapper {
  background-color: var(--light-blue);
  border-radius: 50%;
  height: max-content;
  position: relative;
  transition: var(--transition);
  width: 66px;
  margin: 0 auto 0 0.5rem;
  display: inline-block;
}

#about .headshot-wrapper img {
  transform: rotate(25deg);
  width: 100%;
  height: auto;
  mix-blend-mode: screen;
  -webkit-filter: grayscale(0%) contrast(1);
  filter: grayscale(0%) contrast(1);
  opacity: 1;
  align-self: center;
  transition: var(--transition);
  border-radius: 50%;
}

#about header .headshot-wrapper img:hover {
  filter: grayscale(0%) contrast(1);
  transition: var(--transition);
}

#about section {
  grid-column: span 12;
  height: fit-content;
  height: -moz-fit-content;
  padding: 2rem 1.5rem;
  transition: var(--transition);
  max-width: 320px;
  background-color: var(--light-red);
  grid-auto-columns: minmax(320px, auto);
}

#about section:hover {
  transform: translateY(-0.25rem);
  transition: var(--transition);
}

#about section ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 0.5rem;
}

#about section ul li {
  margin: 0;
  position: relative;
  padding-left: 20px;
}

#about section ul li:last-of-type {
  margin-bottom: 0rem;
}

#about section ul li::before {
  content: '—';
  position: absolute;
  left: 0px;
  color: var(--blue);
}

#about section h4 {
  margin-right: 2rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

#about section sup {
  text-transform: uppercase;
  font-size: smaller;
  color: var(--blue);
  font-weight: 100;
  margin-bottom: 0.25rem;
  letter-spacing: 0.5px;
}

#about section p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem 0 0rem 0;
}

/*
Projects
*/
#projects {
}

#projects header {
  grid-column: span 12;
  margin-bottom: 0rem;
}

#projects header {
  grid-column: span 12;
}

#projects .project-description {
  position: relative;
}

#projects .project-scope {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects header h3 {
  font-size: min(20vw, 100px);
  -webkit-text-stroke: 0.75px var(--blue);
  text-stroke: 0.75px var(--blue);
  color: transparent;
  position: relative;
  text-align: left;
  padding-bottom: 1rem;
  line-height: 1;
  font-family: Merriweather;
}

#projects header h3::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 5%;
  top: 0.5em;
  width: 90%;
  background: radial-gradient(var(--light-blue), 2px, transparent 0);
  background-size: 1rem 1rem;
  background-repeat: space;
  z-index: -2;
  transform: rotate(-2deg);
}

#projects header p {
  font-family: Merriweather;

  text-align: right;
  color: var(--light-red);

  font-size: 5vw;
  font-size: min(5vw, 23px);
  z-index: 2;
  font-weight: 100;
  line-height: 1.2;
  -webkit-text-stroke: 0px var(--blue);
  text-stroke: 0px var(--blue);

  margin: 0 auto;
}

#projects article {
  grid-column: span 12;
}

#projects article {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5em;
  margin: 0 auto;
}

#projects article header {
  margin: 0;
}

#projects article header h4 {
  font-size: min(10vw, 48px);
  font-weight: 900;
  color: transparent;
  z-index: 0;
  margin: 0 auto;
  font-family: Merriweather;
  -webkit-text-stroke: 0.75px var(--blue);
  text-stroke: 0.75px var(--blue);
}

#projects article header h4 span {
  color: var(--green);
}

#projects article aside {
  grid-column: span 12;
}

#projects article section {
  grid-column: span 12;
  margin-bottom: 0.75rem;
}

#projects article aside ul {
  margin: 2rem 0 0rem 0;
  list-style-type: none;
  display: block;
  padding: 0;
}

#projects article aside ul li {
  margin: 0 1rem 0 0;
  font-weight: 600;

  color: var(--red);
  font-size: smaller;
}

#projects article aside p {
  margin-bottom: 0.5rem;
}

#projects article aside p strong {
  font-weight: 100;
  color: var(--green);
}

#projects aside ul li a span {
  cursor: pointer;
  margin-right: 0.25rem;
}

#projects aside ul li a::after {
  content: none;
}

#projects sup {
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--green);
  font-size: smaller;
  margin-bottom: 0;
}

#projects .screenshot-wrapper {
  margin-top: 0.5rem;
  height: auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  background-color: var(--light-blue);
  z-index: -1;
  width: calc(100%);
  padding: 0px;
  margin-left: 0rem;
  border: none;
  box-shadow: 0 0.6rem 4rem rgb(0 0 0 / 50%);
}

#projects .screenshot-wrapper img {
  width: calc(100%);
  margin: 0 auto;
  height: auto;
  border-radius: var(--border-radius);
}

/*
contact section style
*/

#contact {
  padding: 4em 1em 6em 1em;
  grid-template-rows: auto auto auto;
}

#contact h3 {
  grid-column: span 12;
  margin: auto 0 1rem 0;
  font-weight: 900;
  font-family: Merriweather;
  font-size: min(15vw, 100px);
  line-height: 1;
  text-align: center;
  /*text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);*/
  color: transparent;
  -webkit-text-stroke: 0.75px var(--green);
  text-stroke: 0.75px var(--green);
}

#contact u {
  color: var(--green);
  -webkit-text-stroke: 0.75px var(--green);
  text-stroke: 0.75px var(--green);
}

#contact p {
  grid-column: span 12;

  margin: 0 auto;
  text-align: center;
  max-width: 480px;
}

#contact ul {
  grid-column: span 12;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  height: 100%;
  margin: 0;
  padding-left: 0px;
  text-align: center;
}

#contact ul li {
  margin: 0 0.5rem;
  display: inline;
  padding-left: 0px;
}

#contact ul li a {
  color: var(--red);
}

#contact ul li a span {
  padding-top: 10px;
  margin-right: 0.5rem;
  font-size: 90%;
  vertical-align: baseline;
}

#contact ul li img {
  fill: var(--red);
  color: var(--red);
  display: inline;
  vertical-align: middle;
}

.cursor,
.cursor-follower {
  display: none;
}

#footer {
  grid-column: span 12;
  padding: 4em 1em 1em 1em;
}

#footer .left {
  grid-column: span 6;
}

#footer .right {
  display: flex;
  justify-content: flex-end;
}

#footer .right a {
  text-align: center;
  margin-left: 1rem;
}
