@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    padding: 4em 1em;
    margin: 0 auto;
  }

  /*
  Header
  */

  /*
  Intro
  */

  #intro .left {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0rem;
  }

  #intro .right {
    grid-column: span 6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0rem;
  }

  #intro .card {
    width: max-content;
    padding: 1rem 1rem;
  }

  #intro .card:hover::before {
    width: 0.75rem;
    top: 0.75rem;
  }

  #intro .card:hover::after {
    height: 0.75rem;
    left: 0.75rem;
  }

  #intro h1 {
    font-size: 200px;
  }

  #intro h2 {
    font-size: 100px;
  }

  /*
  about 
  */
  #about section {
    grid-column: span 4;
  }

  #about #objective-ui {
    margin-top: 2rem;
  }

  #about #objective-frontend {
    margin-top: 4rem;
  }

  /*
  Projects
  */

  #projects article aside {
    grid-column: span 4;
    float: left;
  }

  #projects article section {
    grid-column: span 8;
    margin-bottom: 0.75rem;
  }

  /*
  contact section style
  */

  #contact ul li a span {
    padding-top: 10px;
    margin-right: 0.5rem;
    font-size: 90%;
    vertical-align: baseline;
  }

  #contact ul li img {
    fill: var(--red);
    color: var(--red);
    display: inline;
    vertical-align: middle;
  }

  .cursor,
  .cursor-follower {
    display: none;
  }

  #footer {
    grid-column: span 12;
    padding: 4em 1em 1em 1em;
  }

  #footer .left {
    grid-column: span 6;
  }

  #footer .right {
    display: flex;
    justify-content: flex-end;
  }

  #footer .right a {
    text-align: center;
    margin-left: 1rem;
  }
}
